.Header {
    height: 5vh;
    padding: 5px;
    border-bottom: 0.5px solid grey;
    &__menu {
        width: 25vw;
        height: 5vh;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-content: center;
        grid-gap: 2vw;
        div {
            text-align: center;
            font-size: 18px;
            transition: all 0.4s ease;
            &:active {
                color: goldenrod;
            }
        }  
    }
}

.History {
    padding-top: 6vh;
    &__null {
        width: 70vw;
        height: 2vh;
        margin: auto;
        margin-top: 10vh;
        font-size: 14px;
        text-align: center;
        &-blue {
            color: rgb(24, 224, 198);
            cursor: pointer;
        }
    }
    &__block {
        width: 70vw;
        border: 1px solid #aaaaaa;
        margin: auto;
        margin-top: 3vh; 
        display: grid;
        grid-template-columns: 15fr 1fr;
        &-text {
            font-size: 14px;
            padding: 16px;
        }
        &-details {
            font-size: 14px;
            border-left: 1px solid #aaaaaa;
            padding-top: 14px;
            text-align: center;
            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
}

.Home {
    height: 60vh;
    &__title {
        width: 34vw;
        text-align: center;
        height: 4vh;
        margin: auto;
        padding-top: 6vh; 
    }
    &__button {
        width: 14vw;
        height: 4vh;
        padding: 5px;
        border: none;
        outline: none;
        box-shadow: 0 0 3px #aaaaaa;
        margin-top: 4vh;
        background-color: rgb(7, 163, 85);
        font-size: 16px;
        color: white;
        letter-spacing: 3px;
    }
    &__check {
        width: 14vw;
        height: 4vh;
        padding: 5px;
        border: none;
        outline: none;
        box-shadow: 0 0 3px #aaaaaa;
        margin-top: 4vh;
        background-color: rgb(7, 163, 85);
        font-size: 16px;
        color: white;
        letter-spacing: 3px;
        margin-left: 2vw;
    }
    &__form {
        height: 34vh;
        padding-top: 14vh;
        text-align: center;
        input {
            width: 34vw;
            height: 4vh;
            padding: 5px;
            border: none;
            border-bottom: 1px solid #aaaaaa; 
            outline: none;
        }
    }
}

.Settings {
    &__block {
        width: 40vw;
        height: 20vh;
        padding: 10px;
        margin: auto;
        margin-top: 10vh;
        text-align: center;
        button {
            width: 10vw;
            height: 5vh;
            padding: 10px;
            background-color: white;
            outline: none;
            border: 1px solid red;
            border-radius: 5px;
            transition: all 0.4s ease; 
        }
        button:hover {
            background-color: red;
            color: white;
        }
        button:active {
            background-color: rgb(190, 166, 24);
            border: 1px solid rgb(190, 166, 24);
        }
        &-ru {
            margin-left: 2vw;            
        }
    }
}

.Details {
    height: 40vh;
    padding: 10px;
    &__null {
        width: 70vw;
        height: 2vh;
        margin: auto;
        margin-top: 16vh;
        font-size: 14px;
        position: relative;
        top: -10px;
        text-align: center;
        &-blue {
            color: rgb(24, 224, 198);
            cursor: pointer;
        }
    }
    &__block {
        width: 30vw;
        height: 20vh;
        padding: 10px;
        border-radius: 5px;
        margin: auto;
        margin-top: 10vh; 
        background-color: rgb(255, 0, 0);
        &-text {
            width: 20vw;
            height: 2vh;
            padding-left: 1vw;
            padding-top: 2vh;
            font-size: 14px;
        }
        &-date {
            width: 20vw;
            height: 2vh;
            padding-left: 1vw;
            padding-top: 2vh;
            font-size: 14px;
        }
        &-count {
            width: 20vw;
            height: 2vh;
            padding-left: 1vw;
            padding-top: 2vh;
            font-size: 14px;
        }
    }
}